body{
  background-image: url("../images/background.jpg");
  font-family: Georgia, "Times New Roman", Times, serif;

}
h1{
  background: rgb(33, 119, 99);
  color: white;
  font-size: 25px;
  padding: 25px;
  margin-left: 50px;
  margin-bottom: 0px;
}
.navbar{
  padding: 0px;
  border-bottom: grey;
  border-bottom-style: solid;
  border-width: 2px;

}


a:link {
  color:grey;
}

a:hover {
  color: blue;
}

a:visited {
  color:red;
}